html {
  scroll-behavior: smooth;
}


.footer {
    height: 4rem;
    background-image:
        linear-gradient(to right, #6c6c6ce5 1px, transparent 1px),
        linear-gradient(to bottom, #6c6c6ce5 1px, transparent 1px);
    background-size: 2rem 2rem;
    background-position: center center;
}
